.header {

    // position: sticky;
    // top: 0;
    // z-index: 1020;

    &-FirstRow {
        background: linear-gradient(180deg, #8EEAFE 0%, rgba(170, 237, 185, 0.37) 70.1%, rgba(255, 255, 255, 0) 98.75%);
    }

    &-Login {
        button {
            background: none;
        }

        a {
            display: none;
        }

        span {
            @include flex
        }

        @include md {
            a {
                display: inline;
            }
            span {
                display: none;
            }
        }
    }

    &-List {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
        font-size: 20px;
        background: $teal-400;

        li{
            padding-left: 24px;
            a{
                color: #000;
            }
            &:hover {
                background: $teal-200;
                color: #000;
            }
        }

        @include md {
            font-size: 26px;
            background: none;
            li {
                padding-left: 0;
                &:hover{
                    background: none;
                    color: $gray-800 ;
                }
            }
        }
    }
}