.user-story-card {
    background: linear-gradient(180deg, rgba(195, 238, 248, 0.5) 0%, rgba(195, 238, 248, 0.117393) 0.01%, rgba(195, 238, 248, 0.0916772) 19.27%, rgba(195, 238, 248, 0.0802469) 23.97%, rgba(195, 238, 248, 0.184734) 46.2%, rgba(195, 238, 248, 0.100717) 88.01%, rgba(195, 238, 248, 0.485) 100%);
    border-radius: 65px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-bottom: 12px;
    }
}