<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <meta name="Keywords" content="團體共用基金系統,團體共用,基金系統,團體基金,共用基金,買房基金,頭期款,夫妻存錢,共同目標,投資理財">
    <meta name="Description" content="手指輕觸，即刻完成您的第一筆理財計畫，1+1的力量等於無窮大，快找人一起實現目標吧！">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullpage.js@3.1.2/dist/fullpage.min.css">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  	<link rel="icon" href="./assets/images/web-logo.ico" type="image/x-icon">
  </head>

  <body>

    <div id="fullpage">
      <%- contents %>

      <footer class="footer section-footer section fp-auto-height">
        <div class="container">

          <div class="d-flex align-items-center mb-4 mb-md-10">
            <div class="footer-logo"></div>
            <div class="footer-border"></div>
          </div>

          <div class="row mb-4 mb-md-10">
            <div class="col-md-4">
              <h4 class="mb-2 mb-md-4">GroupFund  一同為未來計畫</h4>
              <a href="mailto:service@example.com">service@example.com</a>
            </div>
            <div class="col-md-2">
                <ul class="footer-nav-List">
                  <li class="mb-2"><a href="">關於我們</a></li>
                  <li class="mb-2"><a href="">常見問題</a></li>
                  <li class="mb-2"><a href="">最新消息</a></li>
                  <li><a href="">成功案例</a></li>
                </ul>
            </div>

            <div class="col-md-3">
              <h5 class="fs-4 mb-4"><a href="">全部計畫</a></h5>
              <ul class="footer-nav-List">
                <li class="mb-2"><a href="">查看計畫</a></li>
                <li><a href="">新增計畫</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="d-flex justify-content-between align-items-center footer-bottom">
              <p class="mb-0">© 2021-2021 GroupFund .</p>
              <p><a href="">使 用 者 條 款</a><span class="border-start border-black mx-2"></span><a href="">隱 私 權 政 策</a></p>
              <button type="button" class="btn btn-primary border rounded-pill">幫助</button>
            </div>
          </div>
        </div>
      </footer>
  </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-02QPKR3FNB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-02QPKR3FNB');
    </script>
    <script src="./assets/Javascript/fullpage.min.js"></script>
    <script>
      new fullpage('#fullpage', {
        anchors: ['intro', 'original', 'concept', 'comment', 'starter'],
        sectionsColor : ['#fff', '#C0AD6B'],
        css3:true,
        scrollingSpeed:600,
        loopTop: true,
        loopBottom: true,
        responsiveHeight: 500,
        verticalCentered:false,
      });
    </script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
      $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        center:true,
        responsiveClass:true,
        responsive:{
            1000:{
                items:1
            }
        }
      })
    </script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>