@mixin sectionPadding($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin sectionMargin($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}