  .datepicker-cell.selected, .datepicker-cell.selected:hover {
    color: #f1faee;
  }

  .datepicker-picker {
    color: #457b9d;
  }

  .datepicker-controls {
    justify-content: space-around;
  }

  .datepicker-footer button {
    margin: 8px 0;
    width: 100%;
    color: #000;
  }